<link rel="stylesheet" href="../../public/css/style.css" />
<article class="content">
  <h1>Seja bem vindo!</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse porro neque
    temporibus voluptatem? Nemo, dolores? Asperiores assumenda aliquid, itaque
    exercitationem id laudantium laboriosam laborum, omnis sed ipsa tempora iure
    eos.
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores veniam
    dolor similique dolorem expedita consequuntur! Vero aliquam delectus neque
    consectetur veritatis odit quos, dignissimos magnam eum nemo deserunt
    maiores error.
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, illum
    repellat. Rerum eos esse, fugiat quidem enim reprehenderit et velit odit quo
    error repellat beatae saepe reiciendis labore? Voluptatum, quibusdam.
  </p>
</article>
