<link rel="stylesheet" href="../../public/css/style.css" />
<article class="content">
  <h1>Cadastro de posts</h1>
  <form action="/salvar-posts" method="post">
    <div>
      <label for="">Título</label>
      <input name="titulo" type="Título" placeholder="Digite o Título">
    </div>
    <div>
      <label for="">Texto</label>
      <textarea name="texto" id="" cols="30" rows="10"></textarea>
    </div>
    <div>
      <button type="submit">Cadastrar</button>
    </div>
  </form>
</article>